---
# Path to a directory in which to create a virtualenv.
os_openstacksdk_venv:
# Value to use for the pip module's `virtualenv_command` argument when creating the virtualenv
os_openstacksdk_virtualenv_command: "{{ 'python3.' ~ ansible_facts.python.version.minor ~ ' -m venv' if os_openstacksdk_venv else omit }}"

# Whether to install package dependencies.
os_openstacksdk_install_package_dependencies: true

# State of the openstacksdk package.
os_openstacksdk_state: present

# Version of openstacksdk to install, or unrestricted if empty.
os_openstacksdk_version:
# Upper constraints file for installation of openstacksdk.
os_openstacksdk_upper_constraints_file: https://releases.openstack.org/constraints/upper/2024.1
