---
# Check for the presence of Docker or Podman as this is
# required for building container based images.
# Error out if not found.
- name: Check if container engine is installed
  ansible.builtin.shell: which docker || which podman
  changed_when: false
  ignore_errors: true
  register: result
  when:
    - os_images_build | bool
    - os_images_list | selectattr('elements', 'defined') | list | length > 0

- name: Display warning message about the container engine
  ansible.builtin.assert:
    that:
      - result.rc == 0
    fail_msg: >
      Container runtime engine could not be found - make sure it is installed.
      Elements that depend on it will likely fail when building.
  when:
    - os_images_build | bool
    - os_images_list | selectattr('elements', 'defined') | list | length > 0
