---
- name: Ensure existing cloud tenant kernel does not exist
  openstack.cloud.image:
    auth_type: "{{ os_images_auth_type }}"
    auth: "{{ os_images_auth }}"
    region_name: "{{ os_images_region_name | default(omit) }}"
    cacert: "{{ os_images_cacert | default(omit) }}"
    interface: "{{ os_images_interface | default(omit, true) }}"
    region_name: "{{ os_images_region | default(omit) }}"
    name: "{{ item.name ~ '-kernel' }}"
    state: absent
  with_items: "{{ os_images_list | list }}"
  loop_control:
    label: "{{ item.name }}"
  when:
    - item.elements is defined
    - '"baremetal" in item.elements'
    - item.force_rebuild | default(os_images_force_rebuild) | bool
  tags: clean

- name: Upload cloud tenant kernel for baremetal images
  openstack.cloud.image:
    auth_type: "{{ os_images_auth_type }}"
    auth: "{{ os_images_auth }}"
    region_name: "{{ os_images_region_name | default(omit) }}"
    cacert: "{{ os_images_cacert | default(omit) }}"
    interface: "{{ os_images_interface | default(omit, true) }}"
    region_name: "{{ os_images_region | default(omit) }}"
    name: "{{ item.name ~ '-kernel' }}"
    state: present
    visibility: "{{ visibility }}"
    container_format: aki
    disk_format: aki
    filename: "{{ os_images_cache }}/{{ item.name }}/{{ item.name }}.vmlinuz"
  with_items: "{{ os_images_list | list }}"
  vars:
    visibility: "{{ item.visibility | default(item.is_public | ternary('public', 'private') if item.is_public is defined else os_images_visibility) }}"
  loop_control:
    label: "{{ item.name }}"
  when:
    - item.elements is defined
    - '"baremetal" in item.elements'
  register: kernel_result

- name: Ensure existing cloud tenant ramdisk does not exist
  openstack.cloud.image:
    auth_type: "{{ os_images_auth_type }}"
    auth: "{{ os_images_auth }}"
    region_name: "{{ os_images_region_name | default(omit) }}"
    cacert: "{{ os_images_cacert | default(omit) }}"
    interface: "{{ os_images_interface | default(omit, true) }}"
    region_name: "{{ os_images_region | default(omit) }}"
    name: "{{ item.name ~ '-ramdisk' }}"
    state: absent
  with_items: "{{ os_images_list | list }}"
  loop_control:
    label: "{{ item.name }}"
  when:
    - item.elements is defined
    - '"baremetal" in item.elements'
    - item.force_rebuild | default(os_images_force_rebuild) | bool
  tags: clean

- name: Upload cloud tenant ramdisk for baremetal images
  openstack.cloud.image:
    auth_type: "{{ os_images_auth_type }}"
    auth: "{{ os_images_auth }}"
    region_name: "{{ os_images_region_name | default(omit) }}"
    cacert: "{{ os_images_cacert | default(omit) }}"
    interface: "{{ os_images_interface | default(omit, true) }}"
    region_name: "{{ os_images_region | default(omit) }}"
    name: "{{ item.name ~ '-ramdisk' }}"
    state: present
    visibility: "{{ visibility }}"
    container_format: ari
    disk_format: ari
    filename: "{{ os_images_cache }}/{{ item.name }}/{{ item.name }}.initrd"
  with_items: "{{ os_images_list | list }}"
  vars:
    visibility: "{{ item.visibility | default(item.is_public | ternary('public', 'private') if item.is_public is defined else os_images_visibility) }}"
  loop_control:
    label: "{{ item.name }}"
  when:
    - item.elements is defined
    - '"baremetal" in item.elements'
  register: ramdisk_result

- name: Ensure existing cloud tenant image does not exist
  openstack.cloud.image:
    auth_type: "{{ os_images_auth_type }}"
    auth: "{{ os_images_auth }}"
    region_name: "{{ os_images_region_name | default(omit) }}"
    cacert: "{{ os_images_cacert | default(omit) }}"
    interface: "{{ os_images_interface | default(omit, true) }}"
    region_name: "{{ os_images_region | default(omit) }}"
    name: "{{ item.name }}"
    state: absent
  with_items: "{{ os_images_list | list }}"
  loop_control:
    label: "{{ item.name }}"
  when: item.force_rebuild | default(os_images_force_rebuild) | bool
  tags: clean

- name: Upload cloud tenant images
  openstack.cloud.image:
    auth_type: "{{ os_images_auth_type }}"
    auth: "{{ os_images_auth }}"
    region_name: "{{ os_images_region_name | default(omit) }}"
    cacert: "{{ os_images_cacert | default(omit) }}"
    interface: "{{ os_images_interface | default(omit, true) }}"
    region_name: "{{ os_images_region | default(omit) }}"
    name: "{{ item.0.name }}"
    state: present
    visibility: "{{ visibility }}"
    owner: "{{ item.0.owner | default(omit) }}"
    container_format: bare
    disk_format: "{{ item.0.type | default('qcow2') }}"
    filename: "{{ os_images_cache }}/{{ item.0.name }}/{{ item.0.name }}.{{ item.0.type | default('qcow2') }}"
    properties: "{{ os_images_common_properties | combine(cpu_arch_properties) | combine(item.0.properties | default({})) or omit }}"
    kernel: "{{ item.1.id if is_baremetal else omit }}"
    ramdisk: "{{ item.2.id if is_baremetal else omit }}"
    use_import: "{{ item.0.use_import | default(omit) }}"
  vars:
    # NOTE(m-anson): When architecture isn't defined for an
    # image, assume that we should set cpu_arch: x86_64 as
    # this is the diskimage-builder default. If an architecture
    # of arm64 or aarch64 is defined, set cpu_arch: aarch64. In
    # all other cases, leave it up to the operator to set
    # properties.cpu_arch.
    cpu_arch_properties: >-
      {{
          {"cpu_arch": "aarch64"}
          if (item.0.architecture is defined and item.0.architecture in ["arm64", "aarch64"])
          else ({"cpu_arch": "x86_64"} if item.0.architecture is not defined else {})
      }}
    is_baremetal: "{{ item.0.elements is defined and 'baremetal' in item.0.elements }}"
    visibility: "{{ item.0.visibility | default(item.0.is_public | ternary('public', 'private') if item.0.is_public is defined else os_images_visibility) }}"
  with_together:
    - "{{ os_images_list | list }}"
    - "{{ kernel_result.results }}"
    - "{{ ramdisk_result.results }}"
  loop_control:
    label: "{{ item.0.name }}"
