---
# Path to a directory in which to create a virtualenv.
os_ratings_venv:
# Upper constraints file for installation of Python dependencies.
os_ratings_upper_constraints_file: https://releases.openstack.org/constraints/upper/2023.1

# Environment variables for use with OpenStack CLI.
os_ratings_environment: {}
# Mappings associated with a field.
# Each item is a dict with the following fields:
# * service
# * name
# * mappings
# The mappings field is a list, where each item is a dict with the following fields:
# * value
# * cost
# * group (optional)
# * type
# For example, for per-instance rating:
# - service: instance
#   name: flavor_id
#   mappings:
#     - value: small
#       cost: 1.0
#       group: instance_uptime_flavor_id
#       type: flat
#     - value: large
#       cost: 2.0
#       group: instance_uptime_flavor_id
#       type: flat
os_ratings_hashmap_field_mappings: []
# Mappings not associated with a field.
# Each item is a dict with the following fields:
# * service
# * cost
# * group (optional)
# * type
# For example, for image image storage (MB)
# - service: image.size
#   cost: 0.1
#   group: volume_ceph
#   type: flat
os_ratings_hashmap_service_mappings: []
